<div class="equipo-panel">
  
    <div class="header">
      <h2 class="title">Buscar Equipo</h2>
    </div>
    <div class="header">
      <input type="text" [(ngModel)]="consulta" placeholder="Ingrese serie">
      <button (click)="buscarEquipo()" mat-mini-fab color="accent">
        <mat-icon class="add-course-btn">search</mat-icon>
      </button>
    </div>
      <equipos-card-list [equipos]="equiposList"></equipos-card-list>
    
    <button mat-raised-button color="primary" (click)="volverPaginaAnterior()" class="button">Volver</button>

  
</div>

