<div class="equipo">

    <div class="header">

        <h2 class="title">Mantenimientos </h2>
        <button mat-mini-fab color="accent" [routerLink]="['/mantenimiento',equipo?.codigo]">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>
    </div>
    <h3>Equipo serie: {{equipo?.serie}}</h3>
    
    <img class="equipo-thumbnail mat-elevation-z8">

    <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <mat-table class="mant-table mat-elevation-z8" [dataSource]="mantenimientos">
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef [style.width]="'100px'">Nombre Responsable</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">{{mantenimiento.nombre}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="cedula">
            <mat-header-cell *matHeaderCellDef>No.cedula</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">{{mantenimiento.cedula}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="telefono">
            <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">{{mantenimiento.telefono}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">{{mantenimiento.descripcion}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="fechaInicio">
            <mat-header-cell *matHeaderCellDef>fecha Inicio</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">{{mantenimiento.fechaInicio}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="fechaFinal">
            <mat-header-cell *matHeaderCellDef>Fecha Final</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">{{mantenimiento.fechaFinal}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell class="custom-cell" *matCellDef="let mantenimiento">
              <button mat-icon-button class="mat-raised-button mat-accent" 
              (click)="editMantenimineto(mantenimiento)">
                <mat-icon >edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" (click)="onDeleteMantenimiento(equipo,mantenimiento)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div>
        <h4>Buscar mantenimientos</h4>
        <input type="text" [(ngModel)]="consulta" placeholder="Ingrese nombre">
          <button (click)="buscarMantenimiento(equipo)">Buscar</button>
      </div>
      <button (click)="listarTodosEquipos()">Listar Todos los Equipos</button>

      <button mat-raised-button color="primary" (click)="volverPaginaAnterior()">Volver</button>
    <button class="bottom-toolbar" mat-raised-button color="primary"
    (click)="loadMore()">
      Load More
    </button>

</div>






