<div class="equipo-panel">

    <div class="header">

        <h2 class="title">Todos los equipos</h2>

        <button mat-mini-fab color="accent" routerLink="/create-equipo">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>
        <button mat-mini-fab color="accent" routerLink="/search-equipo">
            <mat-icon class="add-course-btn">search</mat-icon>
        </button>

    </div>

    <mat-tab-group>
        <mat-tab label="Universidad">
            
            <button (click)="toggleSala(1)" class="button">Sala 1</button>
            <button (click)="toggleSala(2)"class="button right-button">Sala 2</button>
            <div>
                <equipos-card-list *ngIf="mostrarSala1" [equipos]="universidadEquiposS1$ | async" 
                    (equipoEdited)="reloadEquipos()"
                    (equipoDeleted)="reloadEquipos()">
                </equipos-card-list>
            </div>
          
            <div>
                <equipos-card-list *ngIf="mostrarSala2" [equipos]="universidadEquiposS2$ | async" 
                    (equipoEdited)="reloadEquipos()"
                    (equipoDeleted)="reloadEquipos()">
                </equipos-card-list>
            </div>
        </mat-tab>          
          

        <mat-tab label="Colegio">
            <button (click)="toggleSala(1)" class="button">Sala 1</button>
            <button (click)="toggleSala(2)"class="button right-button">Sala 2</button>
            <equipos-card-list *ngIf="mostrarSala1" [equipos]="colegioEquiposS1$ | async"
                (equipoEdited)="reloadEquipos()"
                (equipoDeleted)="reloadEquipos()">
            </equipos-card-list>
            <equipos-card-list *ngIf="mostrarSala2" [equipos]="colegioEquiposS2$ | async"
                (equipoEdited)="reloadEquipos()"
                (equipoDeleted)="reloadEquipos()">
            </equipos-card-list>

        </mat-tab>

        <mat-tab label="Casa de la cultura">
            <equipos-card-list [equipos]="casaCEquipos$ | async"
            (equipoEdited)="reloadEquipos()"
            (equipoDeleted)="reloadEquipos()">
            </equipos-card-list>

        </mat-tab>

    </mat-tab-group>

</div>

